<main>
  <mat-toolbar class="topnav-container">
    <button class="hamburguer-icon" mat-icon-button (click)="drawer.toggle()"
      *ngIf="roles()?.includes('plan-start') || roles()?.includes('plan-turbo')">
      <span class="material-symbols-outlined menu-icon">menu</span>
    </button>
    <button mat-button matRipple class="logo-link" (click)="handleGotoHomeClick()">
      <picture class="logo">
        <source srcset="logo_azul.svg" media="(min-width: 501px)">
        <source srcset="logo_pequena.svg" media="(max-width: 500px)">
        <img src="logo_pequena.svg" alt="logo" class="logo-image">
      </picture>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button matRipple class="topnav-dropdown" [matMenuTriggerFor]="menu" *ngIf="authenticated">
      <span class="material-symbols-outlined more-vert-icon">
        more_vert
      </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleProfileClick()">
        <div class="button-content">
          <span class="material-symbols-outlined person-icon">manage_accounts</span>
          <span>Perfil</span>
        </div>
      </button>
      <button mat-menu-item (click)="handleCustomerPortalClick()">
        <div class="button-content">
          <span class="material-symbols-outlined person-icon">receipt_long</span>
          <span>Portal do cliente</span>
        </div>
      </button>
      <button mat-menu-item (click)="handleLogoutClick()">
        <div class="button-content">
          <span class="material-symbols-outlined logout-icon">logout</span>
          <span>Sair</span>
        </div>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container autosize class="sidenav-container">
    <mat-drawer #drawer class="sidenav-drawer" mode="side">
      <div class="sidenav-menu">
        <button (click)="handleDashboardClick()" class="sidenav-button" mat-raised-button>
          <div class="sidenav-item">
            <span class="material-symbols-outlined">dashboard</span>
            <span>Dashboard</span>
          </div>
        </button>
      </div>
    </mat-drawer>
    <div (click)="drawer.close()" class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</main>