<mat-card [class]="cssClass" class="plans-card-content-item">
    <div class="popular-badge" *ngIf="isPopular">
        <span>Mais popular</span>
    </div>
    <mat-card-header class="plans-card-content-item-header">
        <mat-card-title class="plans-card-content-item-title">
            <span class="plan-name">{{product.name.split(' ')[0]}}</span>
        </mat-card-title>
        <mat-card-subtitle class="plan-subtitle" *ngIf="isPopular">
            Para quem busca mais oportunidades
        </mat-card-subtitle>
        <mat-card-subtitle class="plan-subtitle" *ngIf="!isPopular">
            Ideal para quem está começando
        </mat-card-subtitle>
        <mat-card-title class="plans-card-content-item-title">
            <span class="price">R${{product.clientPrice | number: '1.2-2'}}{{periodText}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="plans-card-content-item-content">
        <p class="plans-card-content-item-description" *ngFor="let description of product.clientDescriptions">
            <span class="item-description-icon"
                [ngClass]="{'check': description.icon == 'check', 'cancel': description.icon == 'cancel'}"
                class="material-symbols-outlined">{{description.icon}}</span>
            <span class="item-description-text" 
                  [ngClass]="{'canceled': description.icon == 'cancel'}">{{description.text}}</span>
        </p>
    </mat-card-content>
    <mat-card-actions class="plans-card-content-item-actions">
        <button mat-ripple mat-raised-button 
                class="plans-card-button" 
                [ngClass]="{'popular': isPopular}"
                (click)="handleSignatureClick()">
            Assinar agora
        </button>
    </mat-card-actions>
</mat-card>