.dashboard-home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 0.5em;
    justify-items: center;
    margin: 1em 0;
    height: 88vh;
}

.dashboard-home-title {
    color: var(--mat-sys-primary);
    text-align: center;
    height: auto;
}

.dashboard-home-header {
    width: 100%;
}

.dashboard-home-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    width: 100%;
    justify-items: center;
    align-items: center;

    p {
        color: var(--mat-sys-on-surface);
        text-align: center;

        a,
        a:visited {
            color: var(--mat-sys-primary);
        }

        a:hover {
            color: var(--mat-sys-tertiary);
            text-decoration: underline;
        }
    }
}

.preferences-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 80%;
    max-width: 800px;
}

.preferences-card-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;    

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style-type: none;
        gap: 1em;
    }

    li {
        display: flex;
        flex-direction: row;
        padding: .8em;
        justify-content: space-between;
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    @media screen and (max-width: 600px) {
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-self: center;
            text-align: center;
        }
    }
}