.subscription-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .subscription-title {
        margin-bottom: 2em;
        font-size: xx-large;
        text-align: center;
        color: var(--mat-sys-primary);
    }
}

.plans-tab-group {
    width: 100%;
    align-self: center
}

.mat-mdc-tab-body-content {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 1em;

    .plans-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--mat-sys-primary);
        margin-bottom: 1.5em;

        .plans-title {
            font-size: clamp(2.1rem, 4vw, 4rem);
            font-weight: 800;
            text-align: center;
        }
    }

    .plans-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .plans-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
        padding-block: 0.5em;
    }

    .plans-card-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 100%;
        padding-inline: 1em;
    }

    .plans-card-container app-product-card {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
}