<section class="subscription-container">
    <section class="plans-container">
        <header class="plans-header">
            <h2 class="plans-title">Planos</h2>
        </header>
        <mat-tab-group class="plans-tab-group" mat-align-tabs="center"  mat-stretch-tabs="false" dynamicHeight>
            <mat-tab label="Anual" class="anual-plans-tab">
                <div class="plans-grid">
                    <app-product-card *ngFor="let product of anualProducts; trackBy: trackByProductId"
                        [product]="product" />
                </div>
            </mat-tab>
            <mat-tab label="Mensal" class="mensal-plans-tab">
                <div class="plans-grid">
                    <app-product-card *ngFor="let product of mensalProducts; trackBy: trackByProductId"
                        [product]="product"/>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>
</section>