.plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 1em;

    .plans-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--mat-sys-primary);
        margin-bottom: 1.5em;

        .plans-title {
            font-size: clamp(2.1rem, 4vw, 4rem);
            font-weight: 800;
            text-align: center;
        }
    }

    .plans-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .plans-card-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 100%;
        padding-inline: 1em;
    }

    .plans-card-container app-product-card {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
    @media screen and (min-width: 1024px) {
            .plans-card-container {
                flex-direction: row;
                justify-content: center;
            }
            
    }
}
