name: CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Dar permissão de execução ao script
        run: chmod +x build_and_push.prod.sh

      - name: Executar script de deploy
        run: ./build_and_push.prod.sh ${{ secrets.DOCKERHUB_USERNAME }}
