name: CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Instalar Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Configurar Node.js (para o Angular)
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Dockerhub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Give permissions to run script
        run: chmod +x webvagas/build-and-push.prod.sh

      - name: Execute deploy script
        run: bash webvagas/build-and-push.prod.sh ${{ secrets.DOCKERHUB_USERNAME }}  