name: CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Dockerhub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Give permissions to run script
        run: chmod +x ./webvagas/build_and_push.prod.sh

      - name: Execute deploy script
        run: ./webvagas/build_and_push.prod.sh ${{ secrets.DOCKERHUB_USERNAME }} 